Groupby

![Groupby](groupby.jpg)

In [10]:
import pandas as pd

In [32]:
data = pd.read_csv("sample2.csv", sep=', ', engine='python')

In [33]:
data.head()

              Name Team       Position  Height(inches)  Weight(lbs)    Age
0    Adam Donachie  BAL        Catcher              74        180.0  22.99
1        Paul Bako  BAL        Catcher              74        215.0  34.69
2  Ramon Hernandez  BAL        Catcher              72        210.0  30.78
3     Kevin Millar  BAL  First Baseman              72        210.0  35.43
4      Chris Gomez  BAL  First Baseman              73        188.0  35.71

In [34]:
data['Position'].value_counts()

Relief Pitcher       315
Starting Pitcher     221
Outfielder           194
Catcher               76
Second Baseman        58
First Baseman         55
Shortstop             52
Third Baseman         45
Designated Hitter     18
Name: Position, dtype: int64

In [35]:
grouped_data = data.groupby('Position')

In [36]:
type(grouped_data)

pandas.core.groupby.generic.DataFrameGroupBy

In [47]:
grouped_data.get_group('Designated Hitter').head()

              Name Team           Position  Height(inches)  Weight(lbs)    Age
16     Jay Gibbons  BAL  Designated Hitter              72        197.0  30.00
51       Jim Thome  CWS  Designated Hitter              76        244.0  36.51
52     Jerry Owens  CWS  Designated Hitter              75        195.0  26.03
118    David Ortiz  BOS  Designated Hitter              76        230.0  31.28
155  Travis Hafner  CLE  Designated Hitter              75        240.0  29.74

In [56]:
for group_key, group_table in grouped_data:
    print(group_key, type(group_table))

Catcher <class 'pandas.core.frame.DataFrame'>
Designated Hitter <class 'pandas.core.frame.DataFrame'>
First Baseman <class 'pandas.core.frame.DataFrame'>
Outfielder <class 'pandas.core.frame.DataFrame'>
Relief Pitcher <class 'pandas.core.frame.DataFrame'>
Second Baseman <class 'pandas.core.frame.DataFrame'>
Shortstop <class 'pandas.core.frame.DataFrame'>
Starting Pitcher <class 'pandas.core.frame.DataFrame'>
Third Baseman <class 'pandas.core.frame.DataFrame'>

In [59]:
grouped_data.head(2)

,Name,Team,Position,Height(inches),Weight(lbs),Age
0,Adam Donachie,BAL,Catcher,74,180.0,22.99
1,Paul Bako,BAL,Catcher,74,215.0,34.69
3,Kevin Millar,BAL,First Baseman,72,210.0,35.43
4,Chris Gomez,BAL,First Baseman,73,188.0,35.71
5,Brian Roberts,BAL,Second Baseman,69,176.0,29.39
6,Miguel Tejada,BAL,Shortstop,69,209.0,30.77
7,Melvin Mora,BAL,Third Baseman,71,200.0,35.07
8,Aubrey Huff,BAL,Third Baseman,76,231.0,30.19
9,Adam Stern,BAL,Outfielder,71,180.0,27.05
10,Jeff Fiorentino,BAL,Outfielder,73,188.0,23.88
16,Jay Gibbons,BAL,Designated Hitter,72,197.0,30.00
17,Erik Bedard,BAL,Starting Pitcher,73,189.0,27.99
18,Hayden Penn,BAL,Starting Pitcher,75,185.0,22.38
24,Scott Williamson,BAL,Relief Pitcher,72,180.0,31.03
25,John Parrish,BAL,Relief Pitcher,71,192.0,29.26
38,Tadahito Iguchi,CWS,Second Baseman,69,185.0,32.24
39,Juan Uribe,CWS,Shortstop,71,175.0,27.61
51,Jim Thome,CWS,Designated Hitter,76,244.0,36.51

In [61]:
grouped_data.count()

                   Name  Team  Height(inches)  Weight(lbs)  Age
Position
Catcher              76    76              76           76   76
Designated Hitter    18    18              18           18   18
First Baseman        55    55              55           55   55
Outfielder          194   194             194          194  194
Relief Pitcher      315   315             315          315  315
Second Baseman       58    58              58           58   58
Shortstop            52    52              52           52   52
Starting Pitcher    221   221             221          220  221
Third Baseman        45    45              45           45   45

In [51]:
grouped_data.mean()

                   Height(inches)  Weight(lbs)        Age
Position
Catcher                 72.723684   204.328947  29.563684
Designated Hitter       74.222222   220.888889  30.389444
First Baseman           74.000000   213.109091  29.474727
Outfielder              73.010309   199.113402  28.953454
Relief Pitcher          74.374603   203.517460  28.539810
Second Baseman          71.362069   184.344828  29.026897
Shortstop               71.903846   182.923077  28.402885
Starting Pitcher        74.719457   205.163636  28.236109
Third Baseman           73.044444   200.955556  28.691111

In [62]:
grouped_data[['Height(inches)', 'Weight(lbs)', 'Age']].agg(['min', 'max', 'mean', 'count'])

                  Height(inches)                      Weight(lbs)         \
                             min max       mean count         min    max
Position
Catcher                       69  76  72.723684    76       170.0  245.0
Designated Hitter             70  77  74.222222    18       195.0  275.0
First Baseman                 70  80  74.000000    55       180.0  260.0
Outfielder                    68  78  73.010309   194       160.0  257.0
Relief Pitcher                68  83  74.374603   315       150.0  278.0
Second Baseman                67  75  71.362069    58       160.0  210.0
Shortstop                     67  75  71.903846    52       150.0  210.0
Starting Pitcher              69  82  74.719457   221       150.0  290.0
Third Baseman                 68  77  73.044444    45       155.0  240.0

                                       Age
                         mean count    min    max       mean count
Position
Catcher            204.328947    76  22.34  38.49  29.563684    76
Designated Hitter  220.888889    18  23.62  38.76  30.389444    18
First Baseman      213.109091    55  22.81  48.52  29.474727    55
Outfielder         199.113402   194  21.46  42.60  28.953454   194
Relief Pitcher     203.517460   315  21.78  42.30  28.539810   315
Second Baseman     184.344828    58  22.61  41.21  29.026897    58
Shortstop          182.923077    52  22.39  39.85  28.402885    52
Starting Pitcher   205.163636   220  20.90  44.28  28.236109   221
Third Baseman      200.955556    45  22.42  37.43  28.691111    45

In [67]:
grouped_data[['Height(inches)', 'Weight(lbs)', 'Age']].agg({
    'Height(inches)': ['min', 'max'], 
    'Weight(lbs)': ['mean'], 
    'Age': ['min', 'max', 'mean', 'count']})

                  Height(inches)     Weight(lbs)    Age                    \
                             min max        mean    min    max       mean
Position
Catcher                       69  76  204.328947  22.34  38.49  29.563684
Designated Hitter             70  77  220.888889  23.62  38.76  30.389444
First Baseman                 70  80  213.109091  22.81  48.52  29.474727
Outfielder                    68  78  199.113402  21.46  42.60  28.953454
Relief Pitcher                68  83  203.517460  21.78  42.30  28.539810
Second Baseman                67  75  184.344828  22.61  41.21  29.026897
Shortstop                     67  75  182.923077  22.39  39.85  28.402885
Starting Pitcher              69  82  205.163636  20.90  44.28  28.236109
Third Baseman                 68  77  200.955556  22.42  37.43  28.691111


                  count
Position
Catcher              76
Designated Hitter    18
First Baseman        55
Outfielder          194
Relief Pitcher      315
Second Baseman       58
Shortstop            52
Starting Pitcher    221
Third Baseman        45